$storyHeader: #37689b;
$lineColor: rgb(221, 221, 221);
$contentBg: #f2f2f2;
$mainColor: #9c31f9;
$description: #521693;
$pColor: #425e6b;
$formColor: #6d6d6d;
$storyBg: #0b4443;
$hoverText:black;
$font: sans-serif;







