$storyHeader: #627e8c;
$lineColor: rgb(221, 217, 217);
$contentBg: #f2f2f2;
$mainColor: #f9522c;
$description: #bab6b6;
$pColor: #6d6d6d;
$formColor: #6d6d6d;
$storyBg: #ffffff;
$hoverText:black;
$font: serif;











